// Конфигурируем переменные Bootstrap
// См. https://getbootstrap.com/docs/4.3/getting-started/theming/#importing
$primary: blue;
$danger: red;
$spacer: 2rem;

// Импортируем собственно Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

// Добавляем свои классы

.completed-todo{
    text-decoration: line-through !important;
}

.todo-item{
    display: flex;
}